{% extends 'base.twig' %} 

{% block content %}

<div class="container-fluid" id="top">
	<div class="row">
		<h3>ABOUT IDWE</h3>
		<div class="col-xs-12">
			<h2>IDW Entertainment is a division of IDW charged with producing and distributing franchise content ranging from series to
				features to interactive experiences.</h2>
		</div>
		<div class="col-xs-12">
			<p>IDW Entertainment "IDWE" has developed a fresh and innovative model for content development that emphasizes the value
				and importance of creative talent who are developing their own literary projects for television and the commitment to
				collaborate with the creative community overall.</p>
		</div>
	</div>
	<a href="/contact" class="btn btn-db">CONTACT US</a>
</div>
<div class="container-fluid" id="our-team">
	<div class="row">
		<h3>OUR TEAM</h3>
		{% for bio in bios %}
		<div class="col-xs-12 col-sm-6 col-md-3">
			<a href="{{bio.link}}">
				<div class="card">
					<div class="image-container">
						<img class="card-img-top" src="{{bio.get_field('bio_card_img')}}" alt="Card image cap">
						<div class="image-overlay">
							<div class="text-holder">
								<p class="bio-click">CLICK FOR BIO</p>
							</div>
						</div>
					</div>
					<div class="card-block center">
						<p class="card-text">{{bio.title}}</p>
						<p class="card-title">{{bio.get_field('company_title')}}</p>
					</div>
					<!-- card block -->
				</div>
				<!-- card -->
			</a>
		</div>
		<!-- col end -->
		{% endfor %}
	</div>
</div>
<div class="container-fluid" id="summary-content">
	<div class="row">
		<div class="col-xs-12">
			{# <img src="http://via.placeholder.com/800x200" alt=""> #}
		</div>
		<div class="col-xs-12">
			<p>{{options.article}}</p>
		</div>
	</div>
</div>
<div class="container-fluid" id="quote-section">
	<div class="row">
		<div class="col-xs-12 center">
			<h2>{{options.end_quote}}</h2>
		</div>
		<div class="col-xs-12 center">
			<a href="/contact" class="btn btn-db">CONTACT US</a>
		</div>
	</div>
</div>


{% endblock %}