<script>
	require('javascript/swiper-init.js')
</script>

{% block sliders %}

<div class="container-fluid" id="carousel-container">
	<div class="swiper-container" data-spv='1'>
		<div class="swiper-wrapper">
			<!-- Slides -->
			{% for slider in sliders %}
			<a href='{{slider.get_field("learn_more")}}' target='_blank'>
				<div class="swiper-slide">
					<div class="image-container">
						<img src="{{slider.thumbnail}}|tojpg" srcset="{{ slider.thumbnail.src|tojpg|resize(1920) }}, {{ slider.thumbnail.src|tojpg|resize(1600) }}, {{ slider.thumbnail.src|tojpg|resize(1380) }}" alt="">
					</div>
					<div class="carousel-caption">
						<p> {{slider.title}} </p>
						<div>
							<a href="{{slider.get_field('learn_more')}}" class='btn btn-lb'> LEARN MORE </a>
						</div>
					</div>
				</div>
			</a>
			{% endfor %}
		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>
	</div>
	<!-- end of swiper-container -->
</div>

{% endblock %}