<script>
	require('javascript/search.js')
</script>

<nav class="navbar" id='header-nav-desktop'>
	<div class="container-fluid">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#home-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
			<a class="navbar-brand" href="/">
				<div class="brand-image-container" style="background-image: url({{site.theme.path}}/dist/logos/idwe.svg)">
				</div>
			</a>
		</div>


		<div class="collapse navbar-collapse main-section" id="home-nav">
			<ul class="nav navbar-nav">
				<li>
					<a href="/about">ABOUT</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="/news-landing">NEWS</a>
				</li>
				<li class="divider"></li>
				<li>
					<li>
						<a href="/active-projects">ACTIVE PROJECTS</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/contact">CONTACT</a>
					</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a>
						<span class="glyphicon glyphicon-search show desktop-search"></span>
						<span class="glyphicon glyphicon-remove no-show desktop-remove"></span>
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<span class='nav-non-link'> FOLLOW </span>
				</li>
				<li>
					<a href="https://www.facebook.com/idwentertainment/">
							<i class="fa fa-facebook"></i>
						</a>
				</li>
				<li>
					<a href="https://twitter.com/idwentertain?lang=en">
					<i class="fa fa-twitter"></i>
						</a>
				</li>
				<li class="divider"></li>
					{% if user %}
						<li class="login-li">
							<a class="btn btn-yellow" href="{{ function ('wp_logout_url', '/') }}">Logout</a>
						</li>
						{% else %}
						<li class="login-li"> 
							<button type="button" class="btn btn-yellow" data-toggle="modal" data-target="#loginModal">
  							<i class="fa fa-user" aria-hidden="true"></i> LOG IN
							</button>
						</li>
					{% endif %}
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
	<div class="container-fluid " id="nav-search">
		<div class="container">
			<div class="row">

				<form role="search" method="get" class="" action="{{site.link}}">
					<div class="col-xs-9">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search IDW Entertainment" value='' name="s" />
						</div>
					</div>
					<div class="col-xs-2" style="line-height: 3;">
						<button type="submit" class="btn btn-yellow" value="Search">SEARCH</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</nav>

<nav class="navbar" id='header-nav-mobile'>
	<div class="container-fluid no-padding">
		<div class="row">
			<div class="col-xs-12">
				<div class="navbar-header">
					<div class="row">
						<div class="col-xs-4">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-nav" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<!-- end button -->
						<div class="col-xs-4">
							<div class="navbar-brand">
								<div class="brand-image-container">
									<a href="/">
									<img src="{{site.theme.path}}/dist/logos/idwe.svg" alt="">
									</a>
								</div>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="search-box">
								<span class="glyphicon glyphicon-search show mobile-search"></span>
								<span class="glyphicon glyphicon-remove no-show mobile-remove"></span>
							</div>
						</div>
					</div>
					<!-- end navbar row -->


				</div>
				<!-- end navbar-header -->
			</div>
			<div>
			</div>
		</div>
		<div class="row" style="position: relative, z-index: 2000">
			<div class="col-xs-12">
				<div class="collapse navbar-collapse main-section" id="mobile-nav">
					<ul class="nav navbar-nav">
						<li>
							<ul class="inner-list">
								<li> <a href="/about">ABOUT</a> </li>
								<li> <a href="/news-landing">NEWS</a> </li>
								<li> <a href="/active-projects">ACTIVE PROJECTS</a> </li>
								<li> <a href="/contact">CONTACT</a> </li>
							</ul>
						</li>
						<li class="divider"></li>
						<li>
							<ul class="inner-list">
								<li> <a href="http://idwpublishing.com">IDW PUBLISHING</a> </li>
								<li> <a href="http://idwgames.com/">IDW GAMES</a> </li>
								<li> <a href="http://idwlimited.com/">IDW LIMITED</a> </li>
								<li> <a href="http://www.topshelfcomix.com/"> TOP SHELF</a> </li>
								<li> <a href="http://sdcomicartgallery.com/"> SD COMIC ART GALLERY </a> </li>
							</ul>
						</li>
						<li class="divider"></li>
						<li>
							<ul class="inner-list">
								<li> <a href="#">PRIVACY POLICY</a> </li>
								<li> <a href="#">TERMS & CONDITIONS</a></li>
							</ul>
						</li>
						<li class="divider"></li>
						<li>
							<ul class="inner-list">
								<li> <a href="#">FOLLOW</a> </li>
								<li> 
									<a href="https://www.facebook.com/idwentertainment/"> <i class="fa fa-facebook"> </i> </a>
									<a href="https://twitter.com/idwentertain?lang=en"> <i class="fa fa-twitter"> </i> </a>
								</li>
							</ul>
						</li>
						<li class="divider"></li>
						{% if user %}
						<li class="login-li center">
							<a class="btn btn-yellow" href="{{ function ('wp_logout_url', '/') }}">Logout</a>
						</li>
						{% else %}
						<li class="login-li center"> 
							<button type="button" class="btn btn-yellow" data-toggle="modal" data-target="#loginModal" id="mobileLogin">
  							<i class="fa fa-user" aria-hidden="true"></i> LOG IN
							</button>
						</li>
					{% endif %}
					</ul>
					<p>Copyright @2017 IDW Entertainment. All Rights Reserved.</p>
				</div>
			</div>
		</div>


		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
	<div class="container-fluid no-padding " id="nav-search-mobile">
		<div class="container">
			<div class="row">

				<form role="search" method="get" class="" action="{{site.link}}">
					<div class="col-xs-12">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search IDW Entertainment" value='' name="s" />
							<input type="submit" value="Search" style="display: none" />
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</nav>