<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12" id="footer-top">
			<div class="row">
				<div class="col-xs-12 col-md-6 center">
					<row>
						<div class="col-xs-4">
							<a href="http://idwgames.com/">
								<div class="footer-logo-container">
									<img src="{{site.theme.path}}/dist/logos/games.png" alt="">
							</a>
							</div>

						</div>
						<div class="col-xs-4">
							<a href="http://idwlimited.com/">
								<div class="footer-logo-container">
									<img src="{{site.theme.path}}/dist/logos/limited.png" alt="">
							</a>
							</div>

						</div>
						<div class="col-xs-4">
							<a href="http://idwmediaholdings.com/">
								<div class="footer-logo-container">
									<img src="{{site.theme.path}}/dist/logos/media.png" alt="">
							</a>
							</div>

						</div>
					</row>
				</div>
				<div class="col-xs-12 col-md-6 center">
					<row>
						<div class="col-xs-4">
							<a href="http://www.topshelfcomix.com/">
								<div class="footer-logo-container">
									<img src="{{site.theme.path}}/dist/logos/topshelf.png" alt="">
							</a>
							</div>

						</div>
						<div class="col-xs-4">
							<a href="http://sdcomicartgallery.com/">
								<div class="footer-logo-container">
									<img src="{{site.theme.path}}/dist/logos/SDCAG.png" alt="">
							</a>
							</div>

						</div>
						<div class="col-xs-4">
							<a href="http://idwentertainment.com/">
								<div class="footer-logo-container">
									<img src="{{site.theme.path}}/dist/logos/entertainment.png" alt=""></div>
							</a>
						</div>
					</row>
				</div>
			</div>
		</div>
		<div class="col-xs-12" id="footer-bottom-desktop">
			<nav class="navbar" id='footer-nav'>
				<div class="container-fluid">

					<div class="navbar-header">
						<a class="navbar-brand" href="/">
							<div class="footer-image-container" style="background-image: url({{site.theme.path}}/dist/logos/idwe.svg)">
							</div>
						</a>
					</div>
					<div class="collapse navbar-collapse main-section" id="home-nav">
						<ul class="nav navbar-nav">
							<li>
								<a href="/account">MY ACCOUNT</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">PRIVACY POLICY</a>
							</li>
							<li class="divider"></li>
							<li>
								<li>
									<a href="#">TERMS & CONDITIONS</a>
								</li>
								<li class="divider"></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a>
									<p>Copyright @2017 IDW Entertainment. All Rights Reserved.</p>
								</a>
							</li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
			</nav>
		</div>
		<div class="col-xs-12" id="footer-bottom-mobile">
			<div class="row">
				<div class="col-xs-12">
					<div class="footer-image-container" style="background-image: url({{site.theme.path}}/dist/logos/idwe.svg)">
							</div>
				</div>
				<div class="col-xs-12">
					<div class="footer-follow-icons">
						<a href="https://www.facebook.com/idwentertainment/"> <i class="fa fa-facebook"> </i> </a>
						<a href="https://twitter.com/idwentertain?lang=en"> <i class="fa fa-twitter"> </i> </a>
					</div>
				</div>
				<div class="col-xs-12">
					<p>Copyright @2017 IDW Entertainment. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</div>