{% extends 'base.twig' %} {% block content %}
<div class="container-fluid" id="search-form">

	<div class="row">
		<div class="col-xs-12">
			<h3>SEARCH</h3>
		</div>
		<div class="col-xs-12">
			<h1 class="center">{{title}}</h1>
		</div>
		<div class="col-xs-12 search-projects">
			<h3>ACTIVE PROJECT RESULTS</h3>
			<div class="row">
				{% for project in projects %}
				<div class="col-xs-12 col-md-3">
					<a href="{{project.link}}">
				<div class="card">
					<div class="image-container">
						<img class="card-img-top" src="http://via.placeholder.com/300x200" alt="Card image cap">
						<div class="image-overlay"></div>
					</div>
					<div class="card-block">
						<div class="card-title">
							{{project.title}}
						</div>
						<div class="project-categories">
							{% for cat in project.categories %}
							<span>{{cat|title}}</span> {% endfor %}
						</div>
						<div class="project-categories-icons">
							{% for cat in project.categories %}
							<div class="c_icon {{cat}}"></div>
							{% endfor %}
						</div>
					</div>
				</div>
			</a>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="col-xs-12 search-posts">
			<h3>NEWS RESULTS</h3>
			<div class="row">
				{% for post in posts %}
				<div class="col-xs-12 col-md-3">
					{% include 'news-loop.twig' %} 
				</div>
				{% endfor %}
			</div>
		</div>
	</div>


</div>
{% endblock %}