{% block context %}
	{% for project in filtered %}
		<div class="col-xs-12 col-sm-6 col-md-4">
			<a href="{{project.link}}">
				<div class="card">
					<div class="image-container">
						<img class="card-img-top" src="{{project.thumbnail}}" alt="Card image cap">
					</div>
					<div class="card-block">
						<div class="card-title">
							{{project.title}}
						</div>
						<div class="project-categories">
							{% for cat in project.categories %}
							<span>{{cat|title}}</span> {% endfor %}
						</div>
						<div class="project-categories-icons">
							{% for cat in project.categories %}
							<div class="c_icon {{cat|replace({' ':''})|lower}}"></div>
							{% endfor %}
							<a href="{{project.pdf_download_link}}" class="pdf_input btn btn-yellow" download data-toggle="tooltip" data-placement="top" title="Download PDF"><span class="glyphicon glyphicon-download"></span></a>
						</div>
					</div> <!-- end cardblock -->
				</div>
			</a>
		</div>
		{% endfor %}
		<script> $(function () { $('[data-toggle="tooltip"]').tooltip() }) </script>
{% endblock %}